<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <a href="/login">Login</a>
    <a href="/">Home</a>

    <ul>
        <li><b> Survey On? </b></li>
    </ul>

    <ol>
        <li><a href="http://127.0.0.1" target="_blank">Cricket</a></li>
        <ul>
            <li>What is the name of?</li>
            <li>What is the name of?</li>
        </ul>
        <li><a href="http://127.0.0.1" target="_blank">Football</a></li>
        <ul>
            <li>What is the name of?</li>
            <li>What is the name of?</li>
        </ul>
        <li><a href="http://127.0.0.1" target="_blank">Politics</a></li>
        <ul>
            <li>What is the name of?</li>
            <li>What is the name of?</li>
        </ul>
        <li><a href="http://127.0.0.1" target="_blank">Science</a></li>
        <ul>
            <li>What is the name of?</li>
            <li>What is the name of?</li>
        </ul>

    </ol>

</body>
</html>